<!--
  ~ Project : ecomics-ng
  ~ FileName : new-template-form.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<ngb-alert [dismissible]="false" *ngIf="templateModelService.errorMessage" type="danger" class="text-center" [@fadeInOut]>{{templateModelService.errorMessage}}</ngb-alert>
<ngb-alert [dismissible]="false" *ngIf="templateModelService.successMessage" type="success" class="text-center" [@fadeInOut]>{{templateModelService.successMessage}}</ngb-alert>

<div *ngIf="templateModelService.loading" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<form (ngSubmit)="templateModelService.createTemplate()" ngNativeValidate>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label>Title <i>*</i></label>
            <input class="mb-3" type="text" placeholder="Title" required name="templateTitle" [(ngModel)]="templateModelService.title"/>
        </div>
        <div *ngIf="!templateModelService.oldTemplate" class="form-group col-md-4">
            <label>Number page <i>*</i></label>
            <input class="mb-3" type="number" placeholder="Number" required name="templateNumberPage" min="1" max="5" [(ngModel)]="templateModelService.numberPage"/>
        </div>
    </div>

    <div class="form-group">
        <label>Filter</label>
        <app-filter-select (filterSelected)="selectFilterEvent($event)"></app-filter-select>
    </div>

    <div class="form-group">
        <label>Description <i>*</i></label>
        <textarea class="mb-3" placeholder="Description" required name="templateDescription" rows="2" maxlength="200" [(ngModel)]="templateModelService.description"></textarea>
    </div>

    <div class="form-group">
        <label>Miniature <i>*</i></label>
        <div class="custom-file">
            <input type="file" name="templateMiniature" id="templateMiniature" class='hidden-input-file' accept="image/png" required (change)="templateModelService.handleFileInput($event.target)"
                   #templateMiniatureInput>
            <label class="custom-file-label" for="templateMiniature">{{templateModelService.miniature ? templateModelService.miniature.name : 'Choose miniature'}}</label>
        </div>
    </div>

    <img *ngIf="templateModelService.imageUrl" [src]="templateModelService.imageUrl" class="img-preview" (click)="templateMiniatureInput.click()">
</form>
