<!--
  ~ Project : ecomics-ng
  ~ FileName : login-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="container">
    <div class="card mb-3">
        <div class="card-header">Authentication</div>
        <div class="card-body w-75 m-auto">
            <app-login-form></app-login-form>
            <div class="mt-2 text-center">
                <span class="mr-1">Dont have an account ?</span>
                <a [routerLink]="[url.register]">Register now !</a>
            </div>
            <div class="mt-2 text-center">
                <app-download-apk textLink="Download Android application"></app-download-apk>
            </div>
        </div>
    </div>
</div>
