<!--
  ~ Project : ecomics-ng
  ~ FileName : tag-select.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<select [(ngModel)]="selectTagList" class="form-control" (ngModelChange)="handleChange($event)" [value]='46'>
  <option *ngIf="showAll" [ngValue]="null">All Tags</option>
  <option *ngFor="let tag of tagSelectService.tags" [ngValue]="tag">{{tag.label}}</option>
</select>
