<!--
  ~ Project : ecomics-ng
  ~ FileName : edit-bd-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<app-header-include></app-header-include>

<div *ngIf="editBdService.bd" class="container-fluid">
    <div *ngIf="editBdService.currentPage" class="text-center">
        <app-page-view [page]="editBdService.currentPage" [isTemplate]="false"></app-page-view>
    </div>
</div>
