<!--
  ~ Project : ecomics-ng
  ~ FileName : template-setting-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<app-header-include></app-header-include>

<div *ngIf="templateSettingService.template" class="container-fluid">
    <div *ngIf="templateSettingService.currentPage" class="text-center">
        <app-page-view [page]="templateSettingService.currentPage" [isTemplate]="true"></app-page-view>
    </div>
</div>
