/*!
 * Project : ecomics-ng
 * FileName : users-list-table.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

table {
    tbody {
        .badge {
            cursor: pointer;
        }

        .googleLogin,
        .facebookLogin {
            width: 25px;
        }
    }
}
