<!--
  ~ Project : ecomics-ng
  ~ FileName : users-list-table.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<ngb-alert [dismissible]="false" *ngIf="userListService.errorMessage" type="danger" class="text-center">{{userListService.errorMessage}}</ngb-alert>
<ngb-alert [dismissible]="false" *ngIf="userListService.successMessage" type="success" class="text-center">{{userListService.successMessage}}</ngb-alert>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">LastName</th>
            <th scope="col">Roles</th>
            <th scope="col">Social</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userListService.users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <span *ngFor="let role of user.roles" class="badge badge-pill badge-primary mr-2" (click)="userListService.removeRole(user, role)">{{role.label}}</span>
                <span *ngIf="sessionService.getUser().haveRole('Administrator')" class="badge badge-pill badge-success" (click)="modalsService.openUserAddRoleModal(user)">+</span>
            </td>
            <td>
                <img *ngIf="user.googleLogin" src="assets/icons/google.png" class="googleLogin" alt="googleLoginImage"/>
                <img *ngIf="user.facebookLogin" src="assets/icons/facebook.png" class="facebookLogin" alt="facebookLoginImage"/>
            </td>
            <td>
                <span class="badge badge-pill badge-danger mr-2" (click)="userListService.deleteUser(user)">x</span>
            </td>
        </tr>
    </tbody>
</table>
