/*!
 * Project : ecomics-ng
 * FileName : update-frame-modal.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

.img-preview {
    cursor: pointer;
    width: 100px;
    margin: auto;
    display: block;
}
