<!--
  ~ Project : ecomics-ng
  ~ FileName : update-frame-modal.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="modal-header">
    <h4 class="modal-title">Update frame !</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert [dismissible]="false" *ngIf="errorMessage" type="danger" class="text-center" [@fadeInOut]>{{errorMessage}}</ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="successMessage" type="success" class="text-center" [@fadeInOut]>{{successMessage}}</ngb-alert>

    <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <form>
        <div *ngIf="fromTemplate" class="form-group">
            <label>Indication</label>
            <textarea placeholder="Indication" name="frameIndication" rows="2" [(ngModel)]="indication"></textarea>
        </div>


        <div class="custom-file">
            <input type="file" name="templateMiniature" id="customFile" class='hidden-input-file' accept="image/png" (change)="handleFileInput($event)">
            <label class="custom-file-label" for="customFile">{{frameImage ? frameImage.name : 'Choose file'}}</label>
        </div>

        <img *ngIf="imagePreview" [src]="imagePreview" class="img-preview" alt="image-preview">
    </form>
</div>
<div class="modal-footer text-center">
    <input type="submit" class="btn btn-outline-danger m-auto" value='Close' (click)="activeModal.close('Close click')"/>
    <input type="submit" class="btn btn-outline-warning m-auto" value='Remove Image' [disabled]="fromTemplate && !frame.isTaken" (click)="removeFrameImage()">
    <input type="submit" class="btn btn-outline-success m-auto" value='Update' [disabled]="isFormDisabled()" (click)="updateFrame()">
</div>
