<!--
  ~ Project : ecomics-ng
  ~ FileName : register-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="container">
    <div class="card mb-3">
        <div class="card-header">Register</div>
        <div class="card-body m-auto">
            <app-register-form></app-register-form>
            <hr/>
            <div class="mt-2 text-center">
                <span class="mr-1">You have an account ?</span>
                <a [routerLink]="[url.login]">Login now !</a>
            </div>
        </div>
    </div>
</div>
