/*!
 * Project : ecomics-ng
 * FileName : register-page.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    .card {
        width: 500px;

        .card-body {
            width: 85%;
        }
    }
}
