<!--
  ~ Project : ecomics-ng
  ~ FileName : filter-select.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<select [(ngModel)]="selectFilterList" class="form-control" (ngModelChange)="handleChange($event)">
    <option value="none">Aucun filtre</option>
    <option *ngFor="let filter of filterSelectService.filters" [ngValue]="filter">{{filter.label}}</option>
</select>
