<!--
  ~ Project : ecomics-ng
  ~ FileName : users-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<app-header-include></app-header-include>

<div class="container mt-4">
    <app-users-list-table></app-users-list-table>
</div>
