<!--
  ~ Project : ecomics-ng
  ~ FileName : register-form.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<ngb-alert [dismissible]="false" *ngIf="userService.error" type="danger" class="text-center" [@fadeInOut]>{{userService.error}}</ngb-alert>

<form (ngSubmit)="userService.register()" ngNativeValidate>
    <div class="form-group">
        <label>Email <i>*</i></label>
        <input type="email" placeholder="Email" name="email" required [(ngModel)]="userService.email" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Password <i>*</i></label>
            <input type="password" placeholder="Password" name="password" required [(ngModel)]="userService.password" (ngModelChange)="userService.checkPassword(false)"/>
        </div>
        <div class="form-group col-md-6">
            <label>Password confirmation <i>*</i></label>
            <input type="password" placeholder="Password confirmation" name="passwordConfirmation" required [(ngModel)]="userService.confirmPassword"
                   (ngModelChange)="userService.checkPassword(false)"/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First name</label>
            <input type="text" placeholder="First name" name="firstName" [(ngModel)]="userService.firstName"/>
        </div>
        <div class="form-group col-md-6">
            <label>Last name</label>
            <input type="text" placeholder="Last name" name="lastName" [(ngModel)]="userService.lastName"/>
        </div>
    </div>

    <div class="form-group mt-3">
        <input type="submit" class="btn btn-primary" value="Register" [disabled]="userService.registerButtonIsDisabled()">
    </div>
</form>
