<div class="container">
    <div class="card mb-3">
        <div class="card-header">Warning !</div>
        <div class="card-body">
            <span class="mr-1">Picture-factory website is not for a mobile navigation ! But there is an application for android : </span>
            <app-download-apk textLink="download it !"></app-download-apk>
        </div>
    </div>
</div>
