/*!
 * Project : ecomics-ng
 * FileName : login-page.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    a {
        cursor: pointer;
    }
}
