/*!
 * Project : ecomics-ng
 * FileName : bd-view.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

.card {
    .card-header {
        position: relative;
        height: 47px;

        .delete-bd {
            position: absolute;
            top: 12px;
            right: 15px;
            line-height: 0;
            padding: 10px;
            cursor: pointer;
        }
    }

    .card-body {
        width: 90%;

        img {
            width: 100%;
            max-height: 300px;
        }

        .information > div {
            margin-bottom: 20px;
        }
    }
}
