<!--
  ~ Project : ecomics-ng
  ~ FileName : bd-view.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="card mb-3">
    <div class="card-header">
        <span *ngIf="bd.template">{{bd.template.title}}</span>

        <div class="badge badge-pill badge-danger delete-bd" (click)="deleteBd()">x</div>
    </div>
    <div class="card-body m-auto row">
        <div class="col-6 picture">
            <img appDefaultImage src="{{bd.imageUrl}}" type="template">
        </div>

        <div class="col-6 information">
            <div *ngIf="bd.createdAt">
                <span class="description font-weight-bold text-primary">Created : </span>
                <span>{{bd.createdAt | date : 'dd-MM-yy'}}</span>
            </div>

            <div *ngIf="bd.updatedAt">
                <span class="description font-weight-bold text-primary">Updated : </span>
                <span>{{bd.updatedAt | date : 'dd-MM-yy'}}</span>
            </div>

            <div *ngIf="bd.template && bd.template.authorName">
                <span class="description font-weight-bold text-primary">Author : </span>
                <span>{{bd.template.authorName}}</span>
            </div>

            <div class="row justify-content-center">
                <input *ngIf="bd.template && this.bd.template.pages.length > 0" type="button" class="btn btn-outline-warning col-5 m-auto" value="edit" (click)="editMyBd()">
                <input type="button" class="btn btn-outline-primary col-5 m-auto" value="download" (click)="downloadBd()">
            </div>
        </div>
    </div>
</div>
