<!--
  ~ Project : ecomics-ng
  ~ FileName : create-filter-modal.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="modal-header">
    <h4 class="modal-title">Create filter !</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert [dismissible]="false" *ngIf="errorMessage" type="danger" class="text-center" [@fadeInOut]>{{errorMessage}}</ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="successMessage" type="success" class="text-center" [@fadeInOut]>{{successMessage}}</ngb-alert>

    <form>
        <div class="form-group">
            <label>Label<i>*</i></label>
            <input type="text" placeholder="Label" required [(ngModel)]="filterLabel" name="filterLabel"/>
        </div>

        <div class="form-group">
            <label>Url<i>*</i></label>
            <input type="text" placeholder="Url" required [(ngModel)]="filterUrl" name="filterUrl"/>
        </div>
    </form>
</div>
<div class="modal-footer text-center">
    <input type="submit" class="btn btn-outline-danger m-auto" value='Close' (click)="activeModal.close('Close click')"/>
    <input type="submit" class="btn btn-outline-success m-auto" value='Create' (click)="createFilter()" [disabled]="!filterLabel || !filterUrl">
</div>
