<!--
  ~ Project : ecomics-ng
  ~ FileName : login-form.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<ngb-alert [dismissible]="false" *ngIf="userService.error" type="danger" class="text-center" [@fadeInOut]>{{userService.error}}</ngb-alert>

<form (ngSubmit)="userService.loginPassword()" ngNativeValidate>
    <input class="mb-3" type="email" placeholder="Email" name="emailLogin" required [(ngModel)]="userService.email" (ngModelChange)="userService.resetMessage()"/>
    <input class="mb-4" type="password" placeholder="Password" name="passwordLogin" autocomplete="false" required [(ngModel)]="userService.password" (ngModelChange)="userService.resetMessage()"/>

    <input type="submit" class="btn btn-primary" value="Login" [disabled]="!(userService.email && userService.password)">
</form>

<hr/>
<div id="social-login">
    <button id="google-login" (click)="userService.socialSignIn('google')"></button>
    <button id="facebook-login" (click)="userService.socialSignIn('facebook')"></button>
</div>
