/*!
 * Project : ecomics-ng
 * FileName : login-form.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

#social-login {
    text-align: center;
    button {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        margin: 0 10%;

        &:hover {
            box-shadow: 3px 3px 1px 2px #222;
        }

        &#google-login {
            background-image: url("/assets/icons/google.png");
            background-color: white;
            background-size: 25px;
        }
        &#facebook-login {
            background-image: url("/assets/icons/facebook.png");
            background-size: 40px;
        }
    }
}
