<!--
  ~ Project : ecomics-ng
  ~ FileName : update-user-form.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<ngb-alert [dismissible]="false" *ngIf="userService.error" type="danger" class="text-center" [@fadeInOut]>{{userService.error}}</ngb-alert>
<ngb-alert [dismissible]="false" *ngIf="userService.successData" type="success" class="text-center" [@fadeInOut]>{{userService.successData}}</ngb-alert>

<form (ngSubmit)="userService.updateData()" ngNativeValidate>
    <div class="form-group">
        <label>Email <i>*</i></label>
        <input type="email" placeholder="Email" name="email" required [(ngModel)]="userService.email"/>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First name</label>
            <input type="text" placeholder="First name" name="firstName" [(ngModel)]="userService.firstName"/>
        </div>
        <div class="form-group col-md-6">
            <label>Last name</label>
            <input type="text" placeholder="Last name" name="lastName" [(ngModel)]="userService.lastName"/>
        </div>
    </div>

    <div class="form-row mt-3">
        <div class="form-group col-md-6">
            <input type="button" class="btn btn-warning" value="Reset" [disabled]="userService.updateButtonIsDisabled()" (click)="userService.initUser()">
        </div>
        <div class="form-group col-md-6">
            <input type="submit" class="btn btn-primary" value="Update" [disabled]="userService.updateButtonIsDisabled()">
        </div>
    </div>
</form>
<input type="button" value="Delete my account" class="btn btn-outline-danger col-12" (click)="userService.deleteUser()"/>
