<!--
  ~ Project : ecomics-ng
  ~ FileName : template-view.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="card mb-3">
    <div class="card-header">
        <div class="create-bd">
            <div class="badge badge-pill badge-success" (click)="createUserBdFromTemplate()">Create my BD</div>
        </div>

        {{template.title}}

        <div *ngIf="sessionService.getUser().haveRole('Administrator')" class="admin-params">
            <div class="badge badge-pill badge-info" (click)="goToSettingTemplatePage()">Setting</div>
            <div class="badge badge-pill badge-warning" (click)="modalsService.openModalUpdateTemplate(template)">Update</div>
            <div class="badge badge-pill badge-danger" (click)="deleteTemplate()">x</div>
        </div>
    </div>
    <div class="card-body m-auto row">
        <div class="col-6 picture">
            <img appDefaultImage src="{{template.imageUrl}}" type="template">
        </div>
        <div class="col-6 information">
            <div *ngIf="template.description">
                <div class="description font-weight-bold text-primary">Description</div>
                <div>{{template.description}}</div>
            </div>

            <div *ngIf="template.filter && template.filter.label">
                <span class="description font-weight-bold text-primary">Filter : </span>
                <span>{{template.filter.label}}</span>
            </div>

            <div *ngIf="template.createdAt">
                <span class="description font-weight-bold text-primary">Created : </span>
                <span>{{template.createdAt | date : 'dd-MM-yy'}}</span>
            </div>

            <div *ngIf="template.updatedAt">
                <span class="description font-weight-bold text-primary">Updated : </span>
                <span>{{template.updatedAt | date : 'dd-MM-yy'}}</span>
            </div>

            <div *ngIf="template.authorName">
                <span class="description font-weight-bold text-primary">Author : </span>
                <span>{{template.authorName}}</span>
            </div>

            <div *ngIf="template.tags" class="tags">
                <span class="description font-weight-bold text-primary">Tags : </span>
                <span *ngFor="let tag of template.tags" class="badge badge-pill badge-primary mr-2" (click)="removeTag(tag)">{{tag.label}}</span>

                <span *ngIf="sessionService.getUser().haveRole('Administrator')" class="badge badge-pill badge-success" (click)="modalsService.openAddTagModal(template)">+</span>
            </div>
        </div>
    </div>
</div>
