/*!
 * Project : ecomics-ng
 * FileName : template-view.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

.card {
    .card-header {
        position: relative;

        .create-bd {
            position: absolute;
            top: 5px;
            left: 15px;
            line-height: 0;
            padding: 10px;
            cursor: pointer;
        }

        .admin-params {
            position: absolute;
            top: 5px;
            right: 15px;
            line-height: 0;
            padding: 10px;
            cursor: pointer;

            div {
                margin-left: 10px;
            }
        }
    }

    .card-body {
        width: 90%;

        img {
            width: 100%;
            max-height: 300px;
        }

        .information > div {
            margin-bottom: 10px;

            &.tags span {
                cursor: pointer;
            }
        }
    }
}
