<!--
  ~ Project : ecomics-ng
  ~ FileName : update-template-modal.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="modal-header">
    <h4 class="modal-title">Update template !</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-new-template-form></app-new-template-form>
</div>
<div class="modal-footer text-center">
    <input type="submit" class="btn btn-outline-danger m-auto" value='Close' (click)="activeModal.close('Close click')"/>
    <input type="submit" class="btn btn-outline-success m-auto" value='Update' (click)="templateModelService.updateTemplate()" [disabled]="templateModelService.isDisabledUpdateForm()"/>
</div>
