<!--
  ~ Project : ecomics-ng
  ~ FileName : page-view.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div *ngIf="page">
    <div class="title text-primary font-weight-bold">
        <span class="arrow-left" (click)="service.previewPage()"></span>
        <span>Page {{page.number}}</span>
        <span class="arrow-right" (click)="service.nextPage()"></span>
    </div>

    <div class="page">
        <img src="{{page.imageUrl}}" id="page-view"/>

        <div *ngFor="let frame of filterTokenFrame()" appFrameStyle [frame]="frame" class="frame"></div>

        <div *ngFor="let frame of filterFrames()" appFrameStyle [frame]="frame" class="frame update" (click)="updateFrame(frame)">
            <div class="information">
                <div class="indication text-primary">
                    {{!frame.isTaken ? frame.indication : ''}}
                </div>
                <div class="upload-img">
                    <img src="assets/icons/camera.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
