/*!
 * Project : ecomics-ng
 * FileName : page-view.component.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

.title {
    font-size: 20px;

    span {
        vertical-align: middle;
        margin: 0 5px;
    }
}

.page {
    display: inline-block;
    width: calc(1084px / 2);
    height: calc(1616px / 2);
    border: 1px solid #000;
    position: relative;

    #page-view {
        width: 100%;
        height: 100%;
    }

    .frame {
        position: absolute;
        background-color: #55555511;
        border: 1px solid black;

        &.update {
            cursor: pointer;

            &:hover {
                background-color: #55555555;

                .upload-img {
                    img {
                        opacity: 1 !important;
                    }
                }
            }
        }

        .information {
            width: 100%;
            height: 100%;

            .indication {
                background-color: #555555cc;
                height: 22px;
                color: white !important;
                font-weight: bold;
            }

            .upload-img {
                height: 100%;
                margin-top: -22px;

                &:before {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 90px;
                    opacity: 0.3;
                }
            }
        }
    }
}
