<!--
  ~ Project : ecomics-ng
  ~ FileName : setting-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<app-header-include></app-header-include>

<div class="container">
    <div class="card mt-3">
        <div class="card-header">User information</div>
        <div class="card-body m-auto">
            <app-update-user-form></app-update-user-form>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">Update password</div>
        <div class="card-body m-auto">
            <app-update-password-form></app-update-password-form>
        </div>
    </div>
</div>


