<!--
  ~ Project : ecomics-ng
  ~ FileName : template-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<app-header-include></app-header-include>

<div class="container-fluid">
    <ngb-alert [dismissible]="false" *ngIf="templateService.errorMessage" type="danger" class="text-center mt-3" [@fadeInOut]>{{templateService.errorMessage}}</ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="templateService.successMessage" type="success" class="text-center mt-3" [@fadeInOut]>{{templateService.successMessage}}</ngb-alert>

    <div class="row justify-content-center mt-4 mb-4 input-without-form">
        <div class="col-4" >
            <input type="text" placeholder="Filter by title" [(ngModel)]="templateService.selectedTitle"/>
        </div>
        <app-tag-select (tagSelected)="templateService.selectTagEvent($event)" [showAll]="true" class="col-4"></app-tag-select>
        <div class="col-4" >
            <input type="text" placeholder="Filter by author" [(ngModel)]="templateService.selectedAuthorName"/>
        </div>
    </div>

    <div *ngIf="templateService.templates" class="row justify-content-center">
        <app-template-view *ngFor="let template of templateService.filterTemplate()" [template]="template" class="col-4"></app-template-view>
    </div>
</div>
