<!--
  ~ Project : ecomics-ng
  ~ FileName : header-include.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{headerService.currentUrl === headerService.url.home ? 'active' : null}}">
                <a class="nav-link" [routerLink]="[headerService.url.home]">My BD</a>
            </li>
            <li class="nav-item {{headerService.currentUrl === headerService.url.template ? 'active' : null}}">
                <a class="nav-link" [routerLink]="[headerService.url.template]">Template</a>
            </li>
            <li class="nav-item nav-link">
                <app-download-apk textLink="Android Application"></app-download-apk>
            </li>
        </ul>

        <div *ngIf="headerService.user && headerService.user.haveRole('administrator')" ngbDropdown class="d-inline-block form-inline mr-4">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Administration</button>
            <div ngbDropdownMenu class="dropdown-right">
                <input type="button" ngbDropdownItem (click)="modalsService.openModalNewTemplate()" value="New template"/>

                <hr />
                <input type="button" ngbDropdownItem (click)="modalsService.openModalNewTag()" value="Create Tag"/>
                <input type="button" ngbDropdownItem (click)="modalsService.openModalDeleteTag()" value="Delete Tag"/>

                <hr />
                <input type="button" ngbDropdownItem (click)="modalsService.openModalNewRole()" value="Create Role"/>
                <input type="button" ngbDropdownItem (click)="modalsService.openModalDeleteRole()" value="Delete Role"/>

                <hr />
                <input type="button" ngbDropdownItem (click)="modalsService.openModalNewFilter()" value="Create Filter"/>
                <input type="button" ngbDropdownItem (click)="modalsService.openModalDeleteFilter()" value="Delete Filter"/>

                <hr />
                <input type="button" ngbDropdownItem (click)="routerService.navigate(headerService.url.users)" value="User list"/>
            </div>
        </div>

        <div *ngIf="headerService.user" ngbDropdown class="d-inline-block form-inline">
            <button class="btn btn-outline-primary" ngbDropdownToggle>{{headerService.user.firstName}} {{headerService.user.lastName}}</button>
            <div ngbDropdownMenu class="dropdown-right">
                <input type="button" ngbDropdownItem (click)="routerService.navigate(headerService.url.setting)" value="Setting"/>
                <input type="button" ngbDropdownItem (click)="sessionService.closeSession()" value="Logout"/>
            </div>
        </div>
    </div>
</nav>
