<!--
  ~ Project : ecomics-ng
  ~ FileName : home-page.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<app-header-include></app-header-include>

<div class="container-fluid">
    <ngb-alert [dismissible]="false" *ngIf="homePageService.errorMessage" type="danger" class="text-center mt-3" [@fadeInOut]>{{homePageService.errorMessage}}</ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="homePageService.successMessage" type="success" class="text-center mt-3" [@fadeInOut]>{{homePageService.successMessage}}</ngb-alert>

    <h1>My bd</h1>

    <div *ngIf="homePageService.bds" class="row justify-content-center">
        <app-bd-view *ngFor="let bd of homePageService.bds" [bd]="bd" class="col-4"></app-bd-view>
    </div>
</div>
