/*!
 * Project : ecomics-ng
 * FileName : general.scss
 * Copyright (c) created by greg at 13.06.19
 * Description :
 */

@import "themes/darkly/variables";
@import "themes/darkly/bootstrap.min.css";

html, body {
    height: 100%;
}

.card {
    border-radius: 0.25rem;

    .card-header {
        text-align: center;
        font-weight: bold;
    }
}

.dropdown {
    .dropdown-right {
        left: auto;
        right: 0;
        text-align: right;
    }
}

form,
.input-without-form,
.modal-body {
    input,
    textarea,
    button {
        box-shadow: 2px 2px 1px 1px #222;

        &:disabled {
            cursor: not-allowed !important;
        }
    }

    input[type=submit],
    input[type=button],
    button {
        padding: 0 !important;
        margin: 0 !important;
        font-weight: bold;
        border-radius: 0.25rem;
    }

    label {
        position: relative;

        i {
            font-weight: bold;
            color: $red;
            font-size: 25px;
            position: absolute;
            top: -5px;
            right: -10px;
        }
    }

    .custom-file {
        width: 100%;
        position: relative;

        .custom-file-label {
            position: absolute;
        }
    }

    textarea, input {
        width: 100%;
        display: block;
        padding: 0.375rem 0.75rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: $gray-700;
        background-color: $white;
        background-clip: padding-box;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        resize: none;

        &.hidden-input-file {
            margin: 0;
            padding: 0;
            height: 0;
            width: 0;
            cursor: default;
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
    }

    input {
        height: calc(1.5em + 0.75rem + 2px);
    }
}

select,
[class^=custom-file] {
    cursor: pointer;
}

.arrow-left,
.arrow-right {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow-left {
    background-image: url("/assets/icons/arrow-left.png");
}
.arrow-right {
    background-image: url("/assets/icons/arrow-right.png");
}
