<!--
  ~ Project : ecomics-ng
  ~ FileName : delete-tag-modal.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<div class="modal-header">
  <h4 class="modal-title">Delete tag !</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-alert [dismissible]="false" *ngIf="errorMessage" type="danger" class="text-center" [@fadeInOut]>{{errorMessage}}</ngb-alert>
  <ngb-alert [dismissible]="false" *ngIf="successMessage" type="success" class="text-center" [@fadeInOut]>{{successMessage}}</ngb-alert>

  <form>
    <app-tag-select (tagSelected)="selectTagEvent($event)" [showAll]="false" class="col-4"></app-tag-select>
  </form>
</div>
<div class="modal-footer text-center">
  <input type="submit" class="btn btn-outline-danger m-auto" value='Close' (click)="activeModal.close('Close click')"/>
  <input type="submit" class="btn btn-outline-success m-auto" value='Delete' (click)="deleteTag()" [disabled]="!selectedTag">
</div>
