<!--
  ~ Project : ecomics-ng
  ~ FileName : role-select.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<select [(ngModel)]="selectRoleList" class="form-control" (ngModelChange)="handleChange($event)">
    <option *ngFor="let role of roleSelectService.roles" [ngValue]="role">{{role.label}}</option>
</select>
