<!--
  ~ Project : ecomics-ng
  ~ FileName : update-password-form.component.html
  ~ Copyright (c) created by greg at 13.06.19
  ~ Description :
  -->

<ngb-alert [dismissible]="false" *ngIf="userService.errorPassword" type="danger" class="text-center" [@fadeInOut]>{{userService.errorPassword}}</ngb-alert>
<ngb-alert [dismissible]="false" *ngIf="userService.successPassword" type="success" class="text-center" [@fadeInOut]>{{userService.successPassword}}</ngb-alert>

<form (ngSubmit)="userService.updatePassword()" ngNativeValidate>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Password <i>*</i></label>
            <input type="password" placeholder="Password" name="password" required [(ngModel)]="userService.password" (ngModelChange)="userService.checkPassword(true)"/>
        </div>
        <div class="form-group col-md-6">
            <label>Password confirmation <i>*</i></label>
            <input type="password" placeholder="Password confirmation" name="passwordConfirmation" required [(ngModel)]="userService.confirmPassword"
                   (ngModelChange)="userService.checkPassword(true)"/>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Update" [disabled]="userService.updatePasswordButtonIsDisabled()">
</form>
